<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect"></a>

        <div class="list-group list-group-flush">

            <a routerLink="dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>
                Главная
            </a>
            <a routerLink="form" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="table" class="mr-3"></mdb-icon>
                Форма
            </a>
            <a routerLink="task" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>
                Задание
            </a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <span class="navbar-brand">
                <strong class="blue-text">
                    Awesome form
                </strong>
            </span>
        </logo>


    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->