<div class="row mt-5 fillit">
  <div class="col-md-12">

      <div class="card card-cascade narrower mt-5">

          <div class="view gradient-card-header blue darken-2">
              <h4 class="h4-responsive text-white">
                  Задание
              </h4>
          </div>

          <div class="card-body">
            <h4>
                Общие рекомендации по выполнению заданий:
            </h4>

            <ul>
              <li>
                  Для проверки кода использовать TSLint. Конфиг-файл прикреплен к письму.
              </li>
              <li>
                  Код комментировать в стиле JSDoc
                  (<a href="https://en.wikipedia.org/wiki/JSDoc" target="_blank">
                    https://en.wikipedia.org/wiki/JSDoc
                  </a>).
              </li>
            </ul>

            <h4>
                Задание
            </h4>

            <p>
                Создать проект Angular. В проекте будет 2 страницы. главная и страница с формой.
                Страницу с формой   сделать отдельным модулем.
                Переход на страницу с формой  будет по нажатию кнопки с главной страницы.
                На странице будет кнопка для перехода на главную страницу.
            </p>

            <h5>
                Поля формы:
            </h5>
            <ul>
              <li>
                  поле для ввода названия метода. (Только латинские символы);
              </li>
              <li>
                  выпадающий список для выбора метода отправки запроса (GET, POST);
              </li>
              <li>
                  текстовое поле для ввода данных в формате JSON;
              </li>
              <li>
                  кнопка "Отправить".
              </li>
            </ul>

            <p>
                Перед отправкой поля проверяются на правильность.
                Для Get запроса JSON  должен иметь только один уровень.
                После нажатия на кнопку "Отправить" выбранным методом  отправляется запрос на адрес 
                <a href="https://scloud.ru/user_panel/test_angular.php?method=<метод>" target="_blank">
                  https://scloud.ru/user_panel/test_angular.php?method=<метод>
                </a>.
                
                Время ответа от сервера ограничить 20 сек.
                При превышении времени выдавать ошибку.
                При получении ошибки от сервера трижды посылать запрос перед тем как вывести ошибку.
            </p>

            <h5>
                После получения ответа вывести:
            </h5>
            <ul>
              <li>
                  время ответа выполнения запроса;
              </li>
              <li>
                  код ответа;
              </li>
              <li>
                  текст ответа(ответ будет в формате JSON) форматированный для удобного чтения.
              </li>
            </ul>

            <p>
              Если получаем ошибку вывести просто текст "Запрос вернулся с ошибкой" красным цветом.
            </p>

          </div>
      </div>
  </div>
</div>